#define WEB_HOST ""
#define WEB_PORT 443
#define WEB_SECURE true
#define DEV_UID "DEV_UID"
#define DEV_API_KEY "DEV_API_KEY"

#define WIFI_SSID "SSID"
#define WIFI_PASSWORD "PASSWORD"

#define LED_PIN D4
#define LED_AMOUNT 300
#define LED_BRIGHTNESS 255
#define MAX_COLORS_PER_ANIMATION 64

#define TIMEOUT_DURATION 1800000 // 30 * 60 * 1000 ms
