#define WS_SECURE false
#define WS_HOST "localhost"
#define WS_PORT 5222
#define WS_CHANNEL "iot-leds"
#define DEV_UID "DEV_UID"
#define DEV_API_KEY "DEV_API_KEY"

#define WIFI_SSID "SSID"
#define WIFI_PASSWORD "PASSWORD"

#define LED_PIN D4
#define LED_AMOUNT 300
#define LED_BRIGHTNESS 255
#define MAX_COLORS_PER_ANIMATION 64

#define TIMEOUT_DURATION 1800000 // 30 * 60 * 1000 ms
